.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    align-items: center;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.main__title {
    display: inline-block;
    font-size: 55px;
}

.main__title:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 35px;
    background: white;
    animation: 1s infinite blink;
    margin-left: 3px;
}

/*.cursor {*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*    height: 40px;*/
/*    background: white;*/
/*    animation: 1s infinite blink;*/
/*}*/

.flex-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 910px) {
    .main__title {
        font-size: 25px;
    }

    .main__title:after {
        width: 10px;
        height: 20px;
    }
}


