.modal.hide {
    opacity: 0;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    background: black;
    width: 400px;
    padding: 30px;
    border: 1px solid #f8b878;
    border-radius: 5px;
}


.overlay {
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 1001;
    transition: all 0.2s ease-out;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 5px;
}

.input {
    /*width: 50%;*/
    height: 40px;
    margin-bottom: 25px;
    outline: none;
    font-size: 20px;

}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    margin-left: 10px;
}

/*.delete-button {*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    width: 50px;*/
/*    height: 30px;*/
/*    top: 0px;*/
/*    right: -45px;*/
/*    transition: all 0.2s ease-out;*/
/*    background: transparent;*/
/*}*/
